<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SunScan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SunScan.Properties.Settings>
            <setting name="lastScanRunTime" serializeAs="String">
                <value>Last Scan Ran: Never</value>
            </setting>
            <setting name="overwriteIP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ipToOverwrite" serializeAs="String">
                <value />
            </setting>
            <setting name="ipScanRange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ipToScan" serializeAs="String">
                <value>Network</value>
            </setting>
            <setting name="nmapCommand" serializeAs="String">
                <value>nmap -p 135 -oX - </value>
            </setting>
            <setting name="windowNotLocked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="wmiIPScan" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultWMIUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultWMIPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultWMIDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="scanForPCName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useSystemDNS" serializeAs="String">
                <value>False</value>
            </setting>
        </SunScan.Properties.Settings>
    </userSettings>
</configuration>